*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    background-color: #03060c;
    display: grid;
    place-items: center;
}
.container{
    width: 400px;
    height: 500px;
    background-color: #26282b;
    position: relative;
  
    border-radius: 8px;
}

/* mon explication : on ajoute un regle de propriete pour la variable --angle qui prends en charge un angle ( syntax ) donc a chaque fois que le 
keyframe vas changer l angle de 0 a 360 la propriete vas changer de valeur ce qui vas changer l angle automatique dans le conic gradient */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* from c est, commence a quelle angle*/
    /* background: repeating-conic-gradient(from var(--angle), red 0%, red 5%, transparent 5%, transparent 40%, red 50%); */
    background-image: conic-gradient(from var(--angle), red 0deg, red 90deg, transparent 90deg, transparent 180deg, red 180deg, red 270deg, transparent 270deg, transparent 360deg);
    padding: 0.25em;
    z-index: -4;
    animation: spin 3s linear infinite;
    border-radius: 8px;
}
.container::before{
    filter: blur(2rem);
    opacity: 0.5;
}


@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
    
}