/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container-game {
    height: 100%;
    width: 100%;
   
    /* background-image: url(/Images/bg9.gif); */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blur-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 7fr 3fr;
    backdrop-filter: blur(7px);
}

.container-top-game {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
   
}

.middle-game {

    display: grid;
    grid-template-rows: 150px 1fr;
}
.ennemi-card-board-count{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transform: translateY(-100vh);
    transition: all 1s ease;
}

.blur-wrapper-board{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: .25em;
    /* backdrop-filter: blur(4px); */
}
.board-game{
  
}

.right-game {
    transform: translateX(100vw);
    transition: all 1s ease;
}
.left-game {
    transform: translateX(-100vw);
    transition: all 1s ease;
}
.left-game.animation, .right-game.animation{
    transform: translateX(0);

}
.container-bottom-game {
    display: flex;
    align-items: center;
    justify-content: center;

}
.side-game{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: .5em;

    position: relative;
}
.wrapper-game-side{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.container-side{
    width: 90%;
    height: 100%;
    background-color: #F8EDE3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-transform: uppercase;
}
.wrapper-game-side{
   
    width: 100%;
    height: 100%;
}
.top-side{
    display: grid;
    grid-template-rows: repeat(2, 1fr);


}
.bottom-side{
   
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.image-side-game{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mana-health-side-game{
    

}
.image-subject{
    width: 100%;
    height: 100%;
    background-image: url(/Images/playericone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid black;
}
.image-subject-ennemi{
    width: 100%;
    height: 100%;
    background-image: url(/Images/ennemiicone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid black;
}
.mana-health-side-game{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-top: 1em;

}
.health{
    width: 100%;
    height: 0.75rem;
  
   
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}
.health-progress{

    height: 100%;
    border-radius: 20px;
    background-color: #FF5656;
}
.mana-progress{
   
    height: 100%;
    border-radius: 20px;
    background-color: #5678FF;
}
.mana{
  
    width: 70%;
    height: 0.75rem;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}
.number-health{

}
.number-mana{

}
.cercle-health{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF5656;
    border: 1px solid black;
}
.cercle-mana{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5678FF;
    border: 1px solid black;
}
.number-cercle-health{

}
.number-cercle-mana{
    
}
.container-info-user-game-side{
    display: grid;
    grid-template-rows: 1fr 2fr;
   
}
.container-button-game-side-game{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

   

}
.container-button-game-side-game > div {
    height: 4rem;
    width: 4rem;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}
.container-button-game-side-game > div > div{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    
 
}
.container-button-game-side-game > div > div:hover{
    scale: 1.4;
}

.img-div-button-game-hero{

    background-image: url(/Images/heropower.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-forfeit{

    background-image: url(/Images/forfeit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-endturn{

    background-image: url(/Images/endturn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-attackhero{

    background-image: url(/Images/attaquerhero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-remaining, .message-game-side{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-player{
  
    justify-self: center;
    align-self: center;
    font-size: 2rem;

}
.container-message-card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}
.message, .text-cr{
    font-size: 1rem;
}
.message-div, .number-card{
    font-size: 0.5rem;
}
.container-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #F8EDE3;
    
    z-index: -4;
}


.board-ennemi, .board-joueur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: all 1s ease;
    
}
.board-ennemi{
    transform: translateY(-100vh);
}
.board-joueur{
    transform: translateY(100vh);
    
}

.hand-bottom-game{
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transform: translateY(100vh);
    transition: all 1s ease;
}
.hand-bottom-game.animation{
    transform: translateY(0);
 
}
.hand-bottom-game.animation-remove{
    transform: translateY(100vh);
   
}
.ennemi-card-board-count.animation{
    transform: translateY(0);
    
}

.board-ennemi.animation, .board-joueur.animation{
    opacity: 1;
    transform: translateY(0);
   
}



.animation-rideau{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-transform: uppercase;
}
.animation-rideau.animation{
    width: 100%;
    height: 100%;
    font-size: 6em;
}

.animation-versus{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

  
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 6em;
    text-transform: uppercase;
}
.animation-joueur{
 

    width: 100%;
    text-align: center;
    transform: translateX(100vw);
  
}
.animation-ennemi{
    width: 100%;
  
    text-align: center;
    transform: translateX(-100vw);
  
}
.animation_versus_text{
    opacity: 0;
}
.animation-joueur.animation{
 
    animation: animation_aller 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation-ennemi.animation{
   
    animation: animation_retour 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation_versus_text.animation{
    animation: versus_opacity 2s ease;
}
@keyframes versus_opacity{
    0%{
        opacity: 1;
    }
  
    100%{
       opacity: 0;
    }
}
@keyframes animation_aller{
    0%{
        transform: translateX(100%);
    }
  
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animation_retour{
    0%{
        transform: translateX(-100%);
    }
   
    100%{
        transform: translateX(100%);
    }
}
.animation-joueur.animation_engame{
 
    animation: animation_aller_endgame 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation-ennemi.animation_engame{
   
    animation: animation_retour_endgame 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation_versus_text.animation_engame{
    animation: versus_opacity_endgame 2s ease;
}
@keyframes versus_opacity_endgame{
    0%{
        opacity: 1;
    }
  
    100%{
       opacity: 0;
    }
}
@keyframes animation_aller_endgame{
    0%{
        transform: translateX(-100%);
    }
  
    100%{
        transform: translateX(100%);
    }
}
@keyframes animation_retour_endgame{
    0%{
        transform: translateX(100%);
    }
   
    100%{
        transform: translateX(-100%);
    }
}

.temps-restant{
    display: flex;
    align-items: center;
    justify-content: center;
}
.danger-alert {
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    z-index: -1000;
    box-shadow: 0px 0px 1000px rgba(255, 0, 0, 0.413) inset;
    transition: opacity 1s ease;
    opacity: 0;
    
}



.danger-alert.animation-extra-danger{
    animation: danger_opacite 10s linear infinite;
}



@keyframes danger_opacite{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


