body{
    background-image: url(/Images/backgroundmenu.jpg);
    background-repeat: repeat;
    color: white;


}

.container-game{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
  
    background-image: url(/Images/Noise.png);
}

.container-ennemi{
   
}

.wrapper-menu{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(50px);
  
}

.container-joueur, .container-ennemi{

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.container-joueur div, .container-ennemi div{


    

}

.container-joueur-cards{
    display: flex;
    flex-direction: column;
}


.deck-container {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 1em;
    overflow-x: hidden;
   
    
}



.waiting{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.247);
    color: black;
    text-align: center;
    display: none;
    place-items: center;
    z-index: 4000;
    font-size: 6em;
}

.information-game{
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.versus{
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.joueur{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-versus{
    background-color: white;
}

.ennemi{
    background-color: blue;
}

.image_nom{
    background-color: yellow;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
}
.vie_mana{
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
}
.image-game{
    background-image: url("/Images/maleniajoueur.png");
    background-size: cover;
    background-position: end;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    width: 70px;
    height: 100%;
}
.nom{
    color: black;
    font-size: 1.75em;
    display: flex;
   
}

.image-vie{
    background-image: url("/Images/health.png.png");
    background-size: cover;
    background-position: end;
    background-color: rgb(0, 255, 157);
    background-repeat: no-repeat;
}
.vie{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}