.carte{
    width: 200px;
    height: 280px;
    position: relative;
    font-size: 0.75em;
    
    z-index: 2999;
    cursor: pointer;
    display: grid;
    grid-template-rows: 2fr 1fr;
    transition: all 0.3s ease;
    border-radius: 8px;

}

.carte:hover{
    scale: 1.1;
}

.carte-image{
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carte-mechanic{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center start;
}
.mechanic{
    background-color: white;
    font-size: 1em;
    color: black;
}

.global-carte-info{
    position: absolute;
    width: fit-content;
    height: 20px;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    color: white;
}
.carte-attaque{
    top: 0;
    left: 0;
}
.carte-vie{
    top: 30px;
    left: 0;
}
.carte-cout{
    top: 60px;
    left: 0;

}