@property --angleRotation{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.carte.taunt::before, .carte.taunt::after, .carte.idle::before, .carte.idle::after, .carte.stealth::before, .carte.stealth::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -4;
    
    padding: 0.25em;
  
    animation: spinDiv 1s linear infinite;
}
.carte.idle::before, .carte.idle::after{
    background-image: conic-gradient(from var(--angleRotation), rgb(29, 88, 252) 0deg, rgb(29, 88, 252) 90deg, transparent 90deg, transparent 180deg, rgb(29, 88, 252) 180deg, rgb(29, 88, 252) 270deg, transparent 270deg, transparent 360deg);
    
}

.carte.taunt::before, .carte.taunt::after{
    background-image: conic-gradient(from var(--angleRotation), grey 0deg, grey 90deg, transparent 90deg, transparent 180deg, grey 180deg, grey 270deg, transparent 270deg, transparent 360deg);
    
}
.carte.stealth::before, .carte.stealth::after{
    background-image: conic-gradient(from var(--angleRotation), red 0deg, red 90deg, transparent 90deg, transparent 180deg, red 180deg, red 270deg, transparent 270deg, transparent 360deg);
    
}
.carte.taunt::before, .carte.idle::before, .carte.stealth::before{
    filter: blur(2rem);
    opacity: 0.7;
}

@keyframes spinDiv {

    from{
        --angleRotation: 0deg;
    }
    to{
        --angleRotation: 360deg;
    }
    
}
