.carte{
    width: 130px;
    height: 200px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 3fr;

    font-size: 0.75em;
    
}
.carteImg{
    background-color: red;
}
.carteInformation{
    background-color: green;
    color: black;
}