.carte{
    width: 250px;
    height: 300px;
    position: relative;
    font-size: 0.75em;
    background-image: url("/Images/cartes/Group\ 13.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Courier, monospace !important;
    z-index: 2999;
    cursor: pointer;
}
.carteinfoGeneral{
    position: absolute;
  
    width: 20px;
    height: 20px;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    display: grid;
    place-items: center;
}
.carteAttaque{
   
    bottom: 8%;
    right: 15%;

}
.carteVie{

    bottom: 0;
    left: 0;
}
.carteCout{
  
    top: 0;
    left: 0;
}
.carteUid{
   
    top: 0;
    right: 0;
}
.mechanic{
    position: absolute;

    width: 90px;
    height: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 1em;
    text-transform: lowercase;
    text-align: center;
}