@property --angleRotation{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.carte.taunt::before, .carte.taunt::after, .carte.idle::before, .carte.idle::after, .carte.stealth::before, .carte.stealth::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -4;
    
    padding: 0.25em;
  
    animation: spinDiv 1s linear infinite;
}
.carte.idle::before, .carte.idle::after{
    background-image: conic-gradient(from var(--angleRotation), rgb(71, 255, 148) 0deg, rgb(71, 255, 148) 90deg, transparent 90deg, transparent 180deg, rgb(71, 255, 148) 180deg, rgb(71, 255, 148) 270deg, transparent 270deg, transparent 360deg);
    
}

.carte.taunt::before, .carte.taunt::after{
    background-image: conic-gradient(from var(--angleRotation), red 0deg, red 90deg, transparent 90deg, transparent 180deg, red 180deg, red 270deg, transparent 270deg, transparent 360deg);
    
}
.carte.stealth::before, .carte.stealth::after{
    background-image: conic-gradient(from var(--angleRotation), rgb(227, 255, 100) 0deg, rgb(227, 255, 100) 90deg, transparent 90deg, transparent 180deg, rgb(227, 255, 100) 180deg, rgb(227, 255, 100) 270deg, transparent 270deg, transparent 360deg);
    
}
.carte.taunt::before, .carte.idle::before, .carte.stealth::before{
    filter: blur(2rem);
    opacity: 0.7;
}

@keyframes spinDiv {

    from{
        --angleRotation: 0deg;
    }
    to{
        --angleRotation: 360deg;
    }
    
}



/* si je fais en sorte de afficher que les cartes necessaire au lieu de tout effacer*/
/* .carte.attaqued {
    animation: attaqued 0.5s ease;
}



@keyframes attaqued{
    0%{
        transform: translateX(0px)
    }
   
    20%{
        transform: translateX(-20px)
    }
 

    40%{
        transform: translateX(20px)
    }
  

    60%{
        transform: translateX(-20px)
    }
  

    80%{
        transform: translateX(20px)
    }
    100%{
        transform: translateX(0px)
    }

} */