*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: none;
    outline: none;
}


body{
    min-width: 500px;
    
}
.container-login{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.left-login{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    flex-direction: column;
    gap: 5rem;

}

.right-login{
    display: none;
}

.texte-container-login{
    width: 100%;
    text-align: center;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* background-color: green; */
}
.texte-container-login h1{
    font-size: 5em;
    margin-bottom: -35px;
}
.texte-container-login h2{
    margin-bottom: -30px;
    margin-left: -60px;
    font-size: 3em;
}
.texte-container-login h4 {
    color: rgb(150, 30, 30);
    font-size: 2em;
    position: relative;
    transition: color 1s ease;
}

.texte-container-login h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 15px; 
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 1s ease;
}

.texte-container-login h4:hover::after {
    width: 100%;
}
.form-container{

    width: 100%;

    display: grid;
    place-items: center;
}
.connection{
   
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    
}
.username-container, .password-container{
    height: fit-content;
    width: 100%;
}
.username-container input, .password-container input{
    height: 60px;
    width: 100%;
    border: 1px solid black;
}




.submit-button{
    width: 100%;
    height: 70px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1,.54,.5,.51);
}



/* Partie animation */

.submit-button:hover{
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    border: 1px solid black;


}


.user-not-exist{
    position: absolute;
    top: 0;
    left: 350px;
    width: 250px;
    height: 50px;
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    color: black;
    display: grid;
    place-items: center;
    letter-spacing: 0.5px;
    display: none;
}


@media only screen and (min-width: 800px){
    .texte-container-login h1{
        font-size: 5em;
        margin-bottom: -35px;
    }
    .texte-container-login h2{
        margin-bottom: -30px;
        margin-left: -60px;
        font-size: 3em;
    }
    .texte-container-login h4{
        color: rgb(150, 30, 30);
        font-size: 2em;
    }
    
    
   
}
@media only screen and (min-width: 1000px){
    .container-login{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .right-login{
        display: block;
        width: 100%;
        height: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.3s cubic-bezier(1,0.54,.5,.51);
    }
}

@media only screen and (min-width: 1200px){
    .texte-container-login h1{
        font-size: 6em;
        margin-bottom: -40px;
    }
    .texte-container-login h2{
        margin-bottom: -40px;
        margin-left: -30px;
        font-size: 4em;
    }
    .texte-container-login h4{
        color: rgb(150, 30, 30);
        font-size: 2em;
    }
}
@media only screen and (min-width: 1400px){
    .texte-container-login h1{
        font-size: 8em;
        margin-bottom: -65px;
    }
    .texte-container-login h2{
        margin-bottom: -56px;
        font-size: 6em;
    }
    .texte-container-login h4{
        color: rgb(150, 30, 30);
        font-size: 2em;
    }
}
@media only screen and (min-width: 1600px){
    
}