/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow: hidden !important;
}

.container-game {
    height: 100%;
    width: 100%;
   
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blur-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 7fr 3fr;
    backdrop-filter: blur(7px);
}

.container-top-game {
    display: flex;

   
}

.middle-game {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 1fr;
}
.ennemi-card-board-count{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transform: translateY(-100vh);
    transition: all 2s ease;
}

.blur-wrapper-board{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: .25em;
    /* backdrop-filter: blur(4px); */
}
.board-game{
  
}

.right-game {
    transform: translateX(100vw);
    transition: all 2s ease;
}
.left-game {
    transform: translateX(-100vw);
    transition: all 2s ease;
}
.left-game.animation, .right-game.animation{
    transform: translateX(0);

}
.container-bottom-game {
    display: flex;
    align-items: center;
    justify-content: center;

}
.side-game{
    max-width: 250px;
    min-width: 250px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: .5em;

}

.wrapper-game-side{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.container-side{
    width: 90%;
    height: 100%;
    background-color: #F8EDE3;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.wrapper-game-side{
   
    width: 100%;
    height: 100%;
}
.top-side{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.bottom-side{
    height: 60%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.image-side-game{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mana-health-side-game{
    height: 30%;

}
.image-subject{
    width: 80%;
    height: 80%;
    
    border: 3px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;

    
}
.image-subject-ennemi{
    width: 80%;
    height: 80%;
    
    border: 3px solid black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
 
    
}
.mana-health-side-game{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-top: 1em;

}
.health{
    width: 100%;
    height: 0.75rem;
  
   
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}
.health-progress{

    height: 100%;
    border-radius: 20px;
    background-color: #FF5656;
}
.mana-progress{
   
    height: 100%;
    border-radius: 20px;
    background-color: #5678FF;
}
.mana{
  
    width: 70%;
    height: 0.75rem;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}
.container-hm{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}
.number-health{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.number-mana{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.cercle-health{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF5656;
    border: 1px solid black;
}
.cercle-mana{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5678FF;
    border: 1px solid black;
}
.number-cercle-health{

}
.number-cercle-mana{
    
}
.container-info-user-game-side{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
  
   
}
.container-button-game-side-game{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

   

}
.container-button-game-side-game > div {
    height: 4rem;
    width: 4rem;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}
.container-button-game-side-game > div > div{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    
 
}
.container-button-game-side-game > div > div:hover{
    scale: 1.4;
}

.img-div-button-game-hero{

    background-image: url(/Images/heropower.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-hero.active, .img-div-button-game-attackhero.active, .img-div-button-game-endturn.active, .img-div-button-game-forfeit.active{
    filter: grayscale(1);
}
.img-div-button-game-forfeit{

    background-image: url(/Images/forfeit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-endturn{

    background-image: url(/Images/endturn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-div-button-game-attackhero{

    background-image: url(/Images/attaquerhero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-remaining, .message-game-side{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.2em;
}

.name-player{
    
    width: fit-content;
    justify-self: center;
    align-self: center;
    font-size: 1.20em;
    text-wrap: pretty;
    
    

}
.container-message-card{
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.message, .text-cr{
    font-size: 1rem;
}
.message-div, .number-card{
    font-size: 0.8rem;
}
.container-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #F8EDE3;
    
    z-index: -4;
}


.board-ennemi, .board-joueur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: all 2s ease;
    
}
.board-ennemi{
    transform: translateY(-100vh);
}
.board-joueur{
    transform: translateY(100vh);
    
}

.hand-bottom-game{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    transform: translateY(100vh);
    transition: all 2s ease;
}
.container-hand-ennemi, .container-hand-joueur{
  
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
 
}
.hand-bottom-game.animation{
    transform: translateY(0);
 
}
.hand-bottom-game.animation-remove{
    transform: translateY(100vh);
   
}
.ennemi-card-board-count.animation{
    transform: translateY(0);
    
}

.board-ennemi.animation, .board-joueur.animation{
    opacity: 1;
    transform: translateY(0);
   
}



.animation-rideau{
    background-color: black;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-transform: uppercase;
    opacity: 1;
  
}
.animation-rideau.animation{
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
 

}

.animation-versus{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 6em;
    text-transform: uppercase;
}
.animation-joueur{
 

    width: 100%;
    text-align: center;
    transform: translateX(100vw);
    text-shadow: 
    2px 2px 0px rgb(0, 0, 0), 
    4px 4px 0px rgba(255, 255, 255, 0.7);
  
}
.animation-ennemi{
    width: 100%;
  
    text-align: center;
    transform: translateX(-100vw);
    text-shadow: 
    2px 2px 0px rgb(0, 0, 0), 
    4px 4px 0px rgba(255, 255, 255, 0.7);
  
}
.animation_versus_text{
    opacity: 0;
    text-shadow: 
    2px 2px 0px rgb(0, 0, 0), 
    4px 4px 0px rgba(255, 255, 255, 0.7);
}
.animation-joueur.animation{
 
    animation: animation_aller 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation-ennemi.animation{
   
    animation: animation_retour 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation_versus_text.animation{
    animation: versus_opacity 2s ease;
    
}
@keyframes versus_opacity{
    0%{
        opacity: 1;
    }
  
    100%{
       opacity: 0;
    }
}
@keyframes animation_aller{
    0%{
        transform: translateX(100%);
    }
  
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animation_retour{
    0%{
        transform: translateX(-100%);
    }
   
    100%{
        transform: translateX(100%);
    }
}
.animation-joueur.animation_engame{
 
    animation: animation_aller_endgame 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation-ennemi.animation_engame{
   
    animation: animation_retour_endgame 2s cubic-bezier(.15,1,.88,-0.01);
}
.animation_versus_text.animation_engame{
    animation: versus_opacity_endgame 2s ease;
}
@keyframes versus_opacity_endgame{
    0%{
        opacity: 1;
    }
  
    100%{
       opacity: 0;
    }
}
@keyframes animation_aller_endgame{
    0%{
        transform: translateX(-100%);
    }
  
    100%{
        transform: translateX(100%);
    }
}
@keyframes animation_retour_endgame{
    0%{
        transform: translateX(100%);
    }
   
    100%{
        transform: translateX(-100%);
    }
}

.temps-restant{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
}
.danger-alert {
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    z-index: -1000;
    box-shadow: 0px 0px 1000px rgba(255, 0, 0, 0.413) inset;
    transition: opacity 1s ease;
    opacity: 0;
    
}



.danger-alert.animation-extra-danger{
    animation: danger_opacite 10s linear infinite;
}



@keyframes danger_opacite{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.message-skew-erreur{
    position: absolute;
    top: 70.2%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-20deg);
    z-index: 4999;
}
.message-erreur--1{
    transform: translateX(-100vw);
}
.message-erreur--1.active-animation {
    width: 300px;
    height: 40px;
    background-color: #222222;
    box-shadow: 5px 7px 4px hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    animation: animation 4s cubic-bezier(.15,1,.88,-0.01);      
    z-index: 4999;
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 2px solid ;
}

.style-div-erreur-before {
    
    position: absolute; 
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #D43232;
 
    box-shadow: 5px 7px 4px hsla(0, 0%, 0%, 0.25);
    top: 5px; 
    left: -5px;
 
    z-index: 4998; /* S'assure qu'il reste derrière */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
    font-size: 1em;
}


@keyframes animation{
    0%{
        transform: translateX(100vw);
    }
   
    100%{
        transform: translateX(-100vw);
    }
}



.openchatgame{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #178043;
    border: 3px solid #222222;
    background-image: url("/Images/send-mess.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer;
}