:root{
    
    --couleur-chat: #178043;
    --couleur-chat-second: #222222;
}

.iframe-container{
   
    width: 0%;
    height: 0%;
    font-family: "Poppins" !important;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: var(--couleur-chat-second);
    border: 3px solid var(--couleur-chat);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    
}

.wrapper-iframe {
    position: absolute;
    top: -7px;
    left: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--couleur-chat);
    border: 3px solid var(--couleur-chat-second);
    border-radius: 10px;
    overflow-y: hidden;
    gap: 1em;
    padding: 1em;
    
}

.top-message-container, .bottom-message-users-container{
 
    background-color: #777777; 
    width: 100%; 
   
    border-radius: 5px;
    border: 3px solid var(--couleur-chat-second);
}
.top-message-container{
    display: grid;
    height: 30%;
    grid-template-columns: 10fr 3fr;
}
.left-container-user-connected{
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 1em;
    height: fit-content;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--couleur-chat) var(--couleur-chat-second);
}
.list-user--in-game{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--couleur-chat) var(--couleur-chat-second);
    padding: 0.25em;
    gap: 0.25em;
}
.container-user-in-game{
    width: 100%;
    height: 50px;
    background-color: #178043;
    border: 3px solid var(--couleur-chat-second);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.gb-fpc{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 25px;
}
.first-player-container{
    border-bottom: 2px solid var(--couleur-chat-second);
}
.health-in-game{
    border-left: 2px solid var(--couleur-chat-second);
    font-size: .5em;
    display: grid;
    place-items: center;
}
.name-in-game{

    display: flex;
    align-items: center;
    text-align: center;
   
    font-size: calc(0.5em + 0.1vw);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: .25em;
}
.user-connected-div{
    width: fit-content;
    padding: 0.5em;
    border-radius: 50px;
    height: 30px;
    font-size: 0.7em;
    background-color: var(--couleur-chat-second);
    border: 3px solid var(--couleur-chat);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
    position: relative;
   
}
.container-trophies{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--couleur-chat-second);
    border-radius: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.bottom-message-users-container{
   
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.message--class-global{
    width: 95%;
    height: 85%;
  
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 2em;
    padding: 1em 0 1em 0;
    scrollbar-width: thin; 
    scrollbar-color: var(--couleur-chat) var(--couleur-chat-second);
}
.user-mess-container{
  
    width: 100%;
    height: fit-content;
   
    display: flex;
    gap: .75em;
}

.user-mess-container-reverse{
    flex-direction: row-reverse;
}

.heure-user{
    width: 10%;
  
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.heure-input{
    font-size: 0.5em;
    text-align: center;
   
}
.mess--user-real-time{

    /* changer le width des messages*/
    width: min(50%, 50%);

    padding: .25em;
    background-color: hsla(0, 0%, 85%, 0.5);
    border: 1px solid var(--couleur-chat-second);
    border-radius: 5px;
    color: white;
    text-transform: lowercase;
    position: relative;
    box-shadow: inset -13px -11px 24.6px 0px hsla(0, 0%, 0%, 0.25);
}
.mess--user-username-real-time{
    position: absolute;
    content: "";
    top: -23px;
    left: 5px;
    color: var(--couleur-chat-second);
 
    width: fit-content;
    font-size: 1em;
}

.chat-form{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-send--message{
    width: 95%;
    height: 80%;
    background-color: var(--couleur-chat-second);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;

}
.message--class-input{
    border: none;
    outline: none;
    width: 75%;
    height: 70%;
    background-color: transparent;
    padding: 0.5em;
    color: white;
    font-size: 0.90em;
    text-transform: uppercase;
    
}
.message--class-button-send{
    width: 15%;
    height: 60%;
    border: none;
    background-color: #777777;
    border: 1px solid var(--couleur-chat-second);
    box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 1em;
    transition: all 1s ease;
}
.message--class-button-send-small-device{
    display: none;
}
.message--class-button-send:hover{
    background-color: #c7c7c7;
    box-shadow: inset 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}
.fermer-chat{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 2px solid var(--couleur-chat-second);
    box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    background-image: url("/Images/fermer-chat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 1000;
}
.fermer-chat:hover{
    background-color: #c7c7c7;
    box-shadow: inset 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}



@media only screen and (max-width: 728px){
    .user-mess-container{
        flex-direction: column;
        justify-content: space-between;
    }
  
    .heure-user{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    .mess--user-username-real-time{
        font-size: 0.75em;
        top: -15px;
    }
    .mess--user-real-time{
        font-size: 0.80em;
    }
    .message--class-global{
        gap: 1em;
    }
    .heure-user{
        font-size: 0.75em;
    }
}
@media only screen and (max-width: 1300px) {
    .mess--user-real-time{

        /* changer le width des messages*/
        width: min(100%, 100%);
    }
    
    .message--class-button-send{
        display: none;
    }
    .message--class-button-send-small-device{
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #777777;
        border: 1px solid #000000;
        box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-size: 1em;
        background-image: url("/Images/send-mess.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iframe-container{
    
        width: 90%;
        height: 90%;
        
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        background-color: #222222;
        border: 3px solid var(--couleur-chat);
        border-radius: 10px;
        
    }

    .top-message-container{
        height: 20%;
    }
    .bottom-message-users-container{
        height: 80%;
    }
}
.iframe-container.active{
    width: 60%;
    height: 70%;
    opacity: 1;
   
    
}