@import url(_variable.css);

@font-face {
  font-family: 'EldenRingFont';
  src: url('../font/Mantinia\ Regular.otf') format('opentype');
  font-style: normal;
}
*,
*::after,
*::before{
   /* outline: 1px solid lime; */
}

  
button:hover, input:hover, .button-menu {
    cursor: pointer;
  }
/* Application du style global pour chaque page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "EldenRingFont", Tahoma, Geneva, Verdana, sans-serif;
 
}
body{
  width: 100dvw;
  height: 100dvh;
  width: 100vw;
  height: 100vh;

       
}

