*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: none;
    outline: none;
}


body{

    background-color: var(--body-bg);
    overflow: hidden;
}
.container-login{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.left-login{
  
    display: flex;
    align-items: center;
    justify-content: center;


}
.wrapper-left-login{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.texte-container-login{
    height: 50%;
    background-image: url(/Images/title.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: clamp(200px, 50vw, 500px);
    background-color: 100%;
   
    
   
}

.right-login{
  
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    background-color: black;
    position: relative;

}
.login-t1, .login-t2, .login-t3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 80%;
    place-self: center;
}

.login-image-right{
 
    background-image: url(/Images/image-intro.svg);
    background-position: center;
    
    background-repeat: no-repeat;
  
    background-size: clamp(300px, 60vw, 600px);
    
}
.effet-lum--glob{
    width: clamp(200px, 80%, 500px);
    height: clamp(200px, 30%, 300px);
   
  
    position: absolute;
   
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px); 
    
}
.effet-lumiere--1{
    top: 100%;
    background-color: hsla(236, 71%, 20%, 0.733);
}
.effet-lumiere--2{
    top: 0%;
    background-color: hsla(253, 100%, 50%, 0.322);
}



.texte-container-login h4:hover::after {
    width: 100%;
}
.form-container{
    height: 50%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

 
}
.connection{
   
    height: fit-content;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

    
}
.username-container, .password-container{
    height: fit-content;
    width: 100%;
}
.username-container input, .password-container input{
    height: 60px;
    width: 100%;
    border: 1px solid black;
}




.submit-button{
    width: 100%;
    height: 70px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1,.54,.5,.51);
}



/* Partie animation */

.submit-button:hover{
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    border: 1px solid black;


}

.user-not-exist{
    position: absolute;
    top: 0;
    left: 350px;
    width: 250px;
    height: 50px;
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    color: black;
    display: grid;
    place-items: center;
    letter-spacing: 0.5px;
    display: none;
}

@media only screen and (max-width: 500px){
    .texte-container-login{
        margin-bottom: 1em;
        background-position: bottom;
        background-size: clamp(150px, 100vw, 1000px);
    }
    
}
@media only screen and (max-width: 1000px){
    .form-container{
        align-self: flex-start;
   
    }
    .connection{
        width: 70%;
    }
    .username-container input, .password-container input, .submit-button{
        height: 45px;
        
      
    }
}
@media only screen and (max-width: 1200px){
    
    .container-login{
        grid-template-columns: 1fr;
    }
    .right-login{
        display: none;
      
    }
}