*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: none;
    outline: none;
}


body{

    background-color: var(--body-bg);
    overflow: hidden;
  
}
.container-login{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
   
}
.left-login{
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.texte-container-login{
    height: 50%;
    background-image: url(/Images/title.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: clamp(200px, 50vw, 500px);
    background-color: 100%;
   
    
   
}

.right-login{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: black;
    position: relative;
    border-radius: 5px;
    

}
.wrapper-left-login{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.wrapper-right-login{
    width: 100%;
    height: 1000px;
  
    display: grid;
    
    grid-template-rows: repeat(4, 1fr);
}

.login-t1, .login-t2, .login-t3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: calc(1em + 1vw);
    width: 80%;
    
    place-self: center;
}

.login-image-right{
 
    background-image: url(/Images/image-intro.png);
    background-position: center;
    
    background-repeat: no-repeat;
  
    background-size: clamp(300px, 60vw, 600px)
   

    
}
.effet-lum--glob{
    width: 100%;
    height: 50%;
   
  
    position: absolute;
   
    left: 50%;
    transform: translate(-50%);
     
    
}
.effet-lumiere--1{

    top: 0%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.120) , rgba(255, 0, 0, 0));
}
.effet-lumiere--2{

    bottom: 0%;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.120) , rgba(255, 0, 0, 0));
}



.texte-container-login h4:hover::after {
    width: 100%;
}
.form-container{
    height: 50%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

 
}
.connection{
   
    height: fit-content;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

    
}
.username-container, .password-container{
    height: fit-content;
    width: 100%;
}
.username-container input, .password-container input{
    height: 60px;
    width: 100%;
    border: 1px solid black;
}




.submit-button{
    width: 100%;
    height: 70px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1,.54,.5,.51);
}



/* Partie animation */

.submit-button:hover{
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    border: 1px solid black;


}

.user-not-exist{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    color: black;
    display: grid;
    place-items: center;
    letter-spacing: 0.5px;
    font-size: clamp(0.7em, 2vw, 20px);
    text-align: center;
    transition: all 0.3s ease-in;
}
.user-not-exist.active{
    top: 150px;
}



@media only screen and (max-width: 500px){
    .texte-container-login{
        margin-bottom: 1em;
        background-position: bottom;
        background-size: clamp(150px, 100vw, 1000px);
    }
    
}
@media only screen and (max-width: 1000px){
    .form-container{
        align-self: flex-start;
   
    }
    .connection{
        width: 70%;
    }
    .username-container input, .password-container input {
        height: 45px;
        
      
    }
    .submit-button{
        height: 65px;
    }
}

@media only screen and (max-width: 1200px){
    body{
        overflow-y: auto;
    }
    .container-login{
        grid-template-columns: 1fr;
    }
    .right-login{
        display: none;
      
    }
}

.disablecache{
    width: fit-content;
    padding: 0.15em;
    border: 1px solid black;
    font-size: 0.5em;
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    text-transform: uppercase;
}