:root{
    --space-cadet: #202342ff;
    --violet: #7032FFff;
    --blue-crayola: #4D7CFEff;
    --space-cadet-2: #252849ff;
    --space-cadet-3: #2D325Aff;
    --bright-pink-crayola: #F75165ff;
    --couleur-chat: #178043;
    --couleur-chat-second: #222222;

}


.container-menu {
  
    opacity: 1;
    background-image: url(/Images/bg3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

}
.title-menu{
    background-image: url(/Images/title.svg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: clamp(300px, 80vw, 800px);
  
}

.wrapper-menu{
    height: 100%;
    width: 100%;
  
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
}



.nom-joueur{
    display: grid;
    place-items: center;
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: calc(1em + 1vw);
    text-shadow: 
    
        4px 4px 2px rgba(0, 0, 0, 0.5)
   
}


.list-menu{
    display: grid;
    place-items: center;
    align-items: center;

}
.list-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 1.1em;

}
.list-menu ul li:hover{
    cursor: pointer;
}
.list-menu ul li {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.1s ease-out;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-menu ul li:hover{
    font-size: 1.25em;
}


.list-menu ul li::before,
.list-menu ul li::after {
    content: "";
    background-size: contain;
    display: inline-block;
    width: 0px; /* Initial width */
    height: 0px;
    vertical-align: middle;
    background-repeat: no-repeat;
    transition: all 0.3s ease; /* Transition for width */
}

.list-menu ul li:hover::before {
    background-image: url('/Images/right.png');
    width: 30px; /* Width on hover */
    height: 30px;
    animation: pulse 0.3s infinite; /* Apply pulse animation */
}

.list-menu ul li:hover::after {
    background-image: url('/Images/left.png');
    width: 30px; /* Width on hover */
    height: 30px;
    animation: pulse 0.3s infinite; /* Apply pulse animation */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.3);
    }
}




/* .container-message{
    width: 100%;
    min-height: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
} */


.audio-off-on{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 70px;
    height: 70px;
}
.audio-off-on:hover{
    cursor: pointer;
}

.audio-off-on::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 70px; 
    height: 5px;
    background-color: white;
    transform: rotate(45deg) translateY(-50%);
    transition: width 1s ease; 
}

.audio-off-on.active::after {
    width: 0px;
}

.container-theme{
    display: none;
    



    background-color: var(--couleur-chat);
    border: 3px solid #222222;
    border-radius: 4px;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    gap: 0.25em;
    padding: 0.25em;
}
.container-theme > div{
    height: 100px;
    border-radius: 2px;
    width: 100px;
    border: 3px solid #222222;
    cursor: pointer;
}
.theme1{
    background-image: url(/Images/bg3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme2{
    background-image: url(/Images/bg4.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme3{
    background-image: url(/Images/bg5.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme4{
    background-image: url(/Images/bg6.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme6{
    background-image: url(/Images/bg8.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-theme > div:hover{
    border: 1px solid black;
}
@keyframes opacitygame{
    0%{
        opacity: 0;
        background-color: transparent;
    }
    100%{
        opacity: 1;
        background-color: black;
    }
}



#inputUserObserve {
    width: 250px;
    background-color: var(--couleur-chat);
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: "Poppins" !important;
    border: 2px solid #222222;
    outline: none;
    color: black;
    
    
}
#inputUserObserve::placeholder{
    color: #222222;
}

@media only screen and (max-width: 1450px) {
    #partie_lancer_pvp, #entrainement, #theme, #inputUserObservediv{
        display: none;
    }
}


