@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --space-cadet: #202342ff;
    --violet: #7032FFff;
    --blue-crayola: #4D7CFEff;
    --space-cadet-2: #252849ff;
    --space-cadet-3: #2D325Aff;
    --bright-pink-crayola: #F75165ff;


    --couleur-chat: #178043;
}


.container-menu {
  
    opacity: 1;
    background-image: url(/Images/bg3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

}
.title-menu{
    background-image: url(/Images/title.svg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: clamp(300px, 70vw, 700px);
  
}
.wrapper-menu{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
}



.version{
    display: grid;
    place-items: center;
    text-align: center;
    color: rgb(160, 160, 160);
   
}


.list-menu{
    display: grid;
    place-items: center;
    align-items: start;
    margin-top: 160px;
}
.list-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 1em;

}
.list-menu ul li:hover{
    cursor: pointer;
}
.list-menu ul li {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.1s ease-out;
    color: white;
}
.list-menu ul li:hover{
    font-size: 1.25em;
}


.list-menu ul li::before,
.list-menu ul li::after {
    content: "";
    background-size: contain;
    display: inline-block;
    width: 0px; /* Initial width */
    height: 0px;
    vertical-align: middle;
    background-repeat: no-repeat;
    transition: all 0.3s ease; /* Transition for width */
}

.list-menu ul li:hover::before {
    background-image: url('/Images/right.png');
    width: 30px; /* Width on hover */
    height: 30px;
    animation: pulse 0.3s infinite; /* Apply pulse animation */
}

.list-menu ul li:hover::after {
    background-image: url('/Images/left.png');
    width: 30px; /* Width on hover */
    height: 30px;
    animation: pulse 0.3s infinite; /* Apply pulse animation */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.3);
    }
}


.iframe-container{
   
    width: 60%;
    height: 70%;
    font-family: "Poppins" !important;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: #222222;
    border: 3px solid var(--couleur-chat);
    border-radius: 10px;
    display: none;
}

.wrapper-iframe {
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--couleur-chat);
    border: 3px solid #222222;
    border-radius: 10px;
    overflow-y: hidden;
    gap: 1em;
    padding: 1em 0 1em 0;
    
}



.top-message-container, .bottom-message-users-container{
 
    background-color: #777777; 
    width: 85%; 
    border-radius: 5px;
    border: 3px solid #222222;
}
.top-message-container{
    display: grid;
    height: 30%;
    grid-template-columns: 10fr 3fr;
}
.left-container-user-connected{
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25em;
    padding: 1em;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin; /* Style standard pour Firefox */
    scrollbar-color: var(--couleur-chat) #222222; /* Couleurs pour Firefox : pouce et arrière-plan */
}
.list-user--in-game{
   
}

.user-connected-div{
    width: fit-content;
    padding: 0.5em;
    border-radius: 50px;
    height: 30px;
    font-size: 0.5em;
    background-color: #222222;
    border: 3px solid var(--couleur-chat);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}
.bottom-message-users-container{
   
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.message--class-global{
    width: 95%;
    height: 85%;
  
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 2em;
    padding: 1em 0 1em 0;
    scrollbar-width: thin; /* Style standard pour Firefox */
    scrollbar-color: var(--couleur-chat) #222222; /* Couleurs pour Firefox : pouce et arrière-plan */
}
.user-mess-container{
  
    width: 100%;
    height: fit-content;
   
    display: flex;
    gap: .75em;
}

.user-mess-container-reverse{
    flex-direction: row-reverse;
}

.heure-user{
    width: 10%;
  
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.heure-input{
    font-size: 0.5em;
    text-align: center;
   
}
.mess--user-real-time{

    /* changer le width des messages*/
    width: min(50%, 50%);

    padding: .25em;
    background-color: hsla(0, 0%, 85%, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: lowercase;
    position: relative;
    box-shadow: inset -13px -11px 24.6px 0px hsla(0, 0%, 0%, 0.25);
}
.mess--user-username-real-time{
    position: absolute;
    content: "";
    top: -23px;
    left: 5px;
    color: #222222;
 
    width: fit-content;
    font-size: 1em;
}

.chat-form{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-send--message{
    width: 95%;
    height: 80%;
    background-color: #222222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;

}
.message--class-input{
    border: none;
    outline: none;
    width: 75%;
    height: 70%;
    background-color: transparent;
    padding: 0.5em;
    color: white;
    font-size: 0.90em;
    text-transform: uppercase;
    
}
.message--class-button-send{
    width: 15%;
    height: 60%;
    border: none;
    background-color: #777777;
    border: 1px solid #000000;
    box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 1em;
    transition: all 1s ease;
}
.message--class-button-send-small-device{
    display: none;
}
.message--class-button-send:hover{
    background-color: #c7c7c7;
    box-shadow: inset 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}
.fermer-chat{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 2px solid #222222;
    box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    background-image: url("/Images/fermer-chat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: all 1s ease;
    cursor: pointer;
}
.fermer-chat:hover{
    background-color: #c7c7c7;
    box-shadow: inset 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}

/* .container-message{
    width: 100%;
    min-height: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
} */


.audio-off-on{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 70px;
    height: 70px;
}
.audio-off-on:hover{
    cursor: pointer;
}

.audio-off-on::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 70px; 
    height: 5px;
    background-color: white;
    transform: rotate(45deg) translateY(-50%);
    transition: width 1s ease; 
}

.audio-off-on.active::after {
    width: 0px;
}

.container-theme{
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 1200px;

    background-color: rgb(53, 53, 53);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    gap: 1em;
    padding: 1em;
}
.container-theme > div{
    height: 200px;
  
}
.theme1{
    background-image: url(/Images/bg3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme2{
    background-image: url(/Images/bg4.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme3{
    background-image: url(/Images/bg5.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme4{
    background-image: url(/Images/bg6.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme6{
    background-image: url(/Images/bg8.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-theme > div:hover{
    border: 1px solid black;
}
@keyframes opacitygame{
    0%{
        opacity: 0;
        background-color: transparent;
    }
    100%{
        opacity: 1;
        background-color: black;
    }
}

@media only screen and (max-width: 728px){
    .user-mess-container{
        flex-direction: column;
        justify-content: space-between;
    }
  
    .heure-user{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    .mess--user-username-real-time{
        font-size: 0.75em;
        top: -15px;
    }
    .mess--user-real-time{
        font-size: 0.80em;
    }
    .message--class-global{
        gap: 1em;
    }
    .heure-user{
        font-size: 0.75em;
    }
}
@media only screen and (max-width: 1300px) {
    .mess--user-real-time{

        /* changer le width des messages*/
        width: min(100%, 100%);
    }
    
    .message--class-button-send{
        display: none;
    }
    .message--class-button-send-small-device{
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #777777;
        border: 1px solid #000000;
        box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-size: 1em;
        background-image: url("/Images/send-mess.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iframe-container{
    
        width: 90%;
        height: 90%;
        
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        background-color: #222222;
        border: 3px solid var(--couleur-chat);
        border-radius: 10px;
        display: none;
    }

    .top-message-container{
        height: 20%;
    }
    .bottom-message-users-container{
        height: 80%;
    }
}